extends layout

block content
  h1= 'Import files !'
  a(href="/") Accueil
  ul.filesList
        each file in model
            li
                if file.isDir
                    a.folderPath(href="importer?path="+file.relativePath, title=file.display)= file.display
                else if file.imported
                    a.filePath.imported(href="", title=file.display, rel=file.fullPath)= file.display
                else
                    a.filePath(href="importer/choice?path="+file.fullPath, title=file.display, rel=file.fullPath)= file.display
        script.
            $(function()
            {   
                $(".filePath").click(function()
                {
                    console.log($(this).attr("rel"));
                });
            })
