extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
        each file in model
            li
                if file.isDir
                    a(href="importer?path="+file.display)= file.display
                else
                    a(href="importer?import="+file.display)= file.display
