extends layout

block content
  h1= 'Import files !'

  ul.filesList
        each file in model
            li
                if file.isDir
                    a.folderPath(href="importer?path="+file.relativePath, title=file.display)= file.display
                else if file.imported
                    a.filePath.imported(href="", title=file.display)= file.display
                else
                    a.filePath(href="importer?import="+file.relativePath, title=file.display)= file.display
