extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="importer") Import Videos
  ul.vids
        each video, i in importedvideos
            li.vidItem
                a(href="#" title=video.fullPath)
                    img(src=pathToThumbs + '/' +video.thumbPath)
